# Get exchange info

# Imports

In [1]:
import monitor as mn
import config_ocar
import shared_Functions as sf

# All Assets
The below function will return a list of all assets across all exchanges

In [ ]:
assets = mn.get_all_assets()
sf.displayDataFrame(assets, True, False)

# Single Assets
The below function will take the list of all assets and condense each asset down until there is only 1 of each type

In [2]:
value = mn.usdt_Value()
sf.displayDataFrame(value[0], True, False)
sf.displayDataFrame(value[1], True, False)

pos:  -189953.29  ass:  263371.93
calculated value:  36709.31999999999

     Coin           QTY  USD Value
0     APE      -2.37399   -4.43000
1    ATOM       0.00000  -16.73000
2     AXS       2.57968   26.78000
3    BMEX     385.42687  315.66000
4     BNB       0.19693   59.36000
5     BSW     317.94004   65.59000
6     BTC      -0.01095 -415.81000
7   CREAM      -2.14148  148.54000
8    DOME -25,512.39208  -68.37000
9     ETH       0.00172    2.80000
10  FITFI    -907.57715  187.39000
11   GLMR       0.26607    0.14000
12     HT       1.62437    8.25000
13   LINK      12.50442   86.27000
14  LOOKS     -91.52877  -76.75000
15   LUNA       4.60331    8.69000
16   MINA       0.00000    7.52000
17    OKB       0.00016    0.01000
18   ROSE       0.00000    0.02000
19     SC           207    0.88182
20    SKL    -400.00000  -22.10000

   Coin           QTY     USD Value
0  BUSD     744.67697     744.45000
1   EUR  50,000.04569  53,430.27000
2   USD       0.12862       0.13000
3  USDC     385.68000     385.64000
4  USDT 103,612.69296 110,768.89000
5  ZUSD     873.47000     873.47000

# Balances
The below function will return a total balance across main accounts, total balance across sub accounts and total overall balance

In [ ]:
balance = mn.get_total_balance()
sf.displayDataFrame(balance, True, False)

# Positions
The below function will return a list of positions across exchanges including liq risk %

In [ ]:
positions = mn.get_all_positions()
sf.displayDataFrame(positions, True, False)

# Leverage
The below function will return the leverage across all exchanges

In [ ]:
leverage = mn.Leverage()
sf.displayDataFrame(leverage, True, False)