# Get exchange info

# Imports

In [1]:
import monitor as mn
import config
import shared_Functions as sf

# All Assets
The below function will return a list of all assets across all exchanges

In [2]:
assets = mn.get_all_assets()
sf.displayDataFrame(assets, True, False)

     Coin Contract              QTY    USD Value     Exchange  Account
0     APE      APE         10.15892     59.14000      Binance     SPOT
1     APE      APE        300.00000  1,746.30000      Binance     Earn
2     APE      APE        213.63020  1,243.54000      Binance   Coin-M
3     AXS      AXS          2.20504     25.98000      Binance     SPOT
4     AXS      AXS          0.37260      4.39000      Binance     Earn
5    BMEX     BMEX        385.42687    308.34000       Bitmex     SPOT
6     BNB      BNB          0.19985     65.41000      Binance   Margin
7     BSW      BSW        317.94004     70.14000      Binance     SPOT
8     BTC      BTC          0.01033    236.22000        Huobi   Coin-M
9     BTC      BTC          0.99174 22,677.06000       Bitmex     SPOT
10    BTC      BTC          0.00006      1.37000         Gate     SPOT
11   BUSD     BUSD        544.67697    544.62000      Binance     SPOT
12   BUSD     BUSD        200.00000    200.00000      Binance   Margin
13  CREAM    CREAM      3,287.77852 42,083.57000      Binance     SPOT
14   DOME     DOME 10,210,662.04468 30,529.88000          OKX  Trading
15    ETH      ETH          0.00091      1.51000      OKX-sub  Trading
16    ETH      ETH          0.00081      1.33000    Huobi-sub     SPOT
17    EUR      EUR     50,000.04569 53,584.87000      Bittrex     SPOT
18  FITFI    FITFI    598,742.42285 16,645.04000          OKX  Trading
19  FITFI    FITFI    899,640.00000 25,099.96000        Bybit     SPOT
20   GLMR     GLMR          0.22222      0.11000          OKX  Funding
21   GLMR     GLMR         17.98200      9.30000          OKX  Trading
22     HT       HT          1.62437      8.91000        Huobi     SPOT
23   LINK     LINK      3,025.27475 21,469.62000        Huobi   Coin-M
24   LUNA     LUNA          4.60331      9.49000      Binance     SPOT
25    OKB      OKB          0.00016      0.01000          OKX  Funding
26    USD      USD          0.12862      0.13000       Kraken     SPOT
27   USDC     USDC        724.63327    724.63000          OKX  Trading
28   USDC     USDC        385.68000    385.64000       Kraken     SPOT
29   USDT     USDT     42,268.17328 40,897.75000          OKX  Trading
30   USDT     USDT      4,975.95782  4,970.51000      OKX-sub  Trading
31   USDT     USDT     19,890.14205 19,890.14000      Binance    USD-M
32   USDT     USDT      1,993.00973  1,993.01000      Binance     SPOT
33   USDT     USDT      4,021.49863  4,021.50000  Binance-sub    USD-M
34   USDT     USDT      1,000.00000  1,000.00000  Binance-sub     SPOT
35   USDT     USDT        999.97688    999.88000       Kraken     SPOT
36   USDT     USDT      7,344.58628  7,344.59000        Huobi    USD-M
37   USDT     USDT        168.63640    168.64000        Huobi     SPOT
38   USDT     USDT      2,000.00000  2,000.00000    Huobi-sub    USD-M
39   USDT     USDT         10.00004     10.00000         Gate   USDT-M
40   USDT     USDT      7,264.00002  7,264.00000        Bybit     SPOT
41   USDT     USDT     21,276.02213 21,276.02000        Bybit    USD-M
42   USDT     USDT      1,000.00002  1,000.00000    Bybit-sub    USD-M

# Single Assets
The below function will take the list of all assets and condense each asset down until there is only 1 of each type

In [3]:
value = mn.usdt_Value()
sf.displayDataFrame(value[0], True, False)
sf.displayDataFrame(value[1], True, False)

     Coin           QTY    USD Value
0     APE       1.10939     10.14000
1     AXS       2.57764     30.34000
2    BMEX     385.42687    308.34000
3     BNB       0.19985     65.39000
4     BSW     317.94004     70.14000
5     BTC      -0.01099   -444.91000
6   CREAM      -2.14148    169.99000
7    DOME -49,837.95532    -46.41000
8     ETH      -0.39828   -658.22000
9   FITFI    -907.57715     64.74000
10   GLMR       0.20422      0.11000
11     HT       1.62437      8.91000
12   LINK    -166.39704 -1,168.80000
13   LUNA       4.60331      9.49000
14   LUNC       0.00000      7.20000
15    OKB       0.00016      0.01000

   Coin           QTY     USD Value
0  BUSD     744.67697     744.66000
1   EUR  50,000.04569  53,584.87000
2   USD       0.12862       0.13000
3  USDC   1,110.31327   1,110.27000
4  USDT 114,219.10342 112,835.36000

In [3]:
value = mn.usdt_Value()
sf.displayDataFrame(value[0], True, False)
sf.displayDataFrame(value[1], True, False)

     Coin           QTY    USD Value
0     APE       1.10939     10.14000
1     AXS       2.57764     30.34000
2    BMEX     385.42687    308.34000
3     BNB       0.19985     65.39000
4     BSW     317.94004     70.14000
5     BTC      -0.01099   -444.91000
6   CREAM      -2.14148    169.99000
7    DOME -49,837.95532    -46.41000
8     ETH      -0.39828   -658.22000
9   FITFI    -907.57715     64.74000
10   GLMR       0.20422      0.11000
11     HT       1.62437      8.91000
12   LINK    -166.39704 -1,168.80000
13   LUNA       4.60331      9.49000
14   LUNC       0.00000      7.20000
15    OKB       0.00016      0.01000

   Coin           QTY     USD Value
0  BUSD     744.67697     744.66000
1   EUR  50,000.04569  53,584.87000
2   USD       0.12862       0.13000
3  USDC   1,110.31327   1,110.27000
4  USDT 114,219.10342 112,835.36000

# Balances
The below function will return a total balance across main accounts, total balance across sub accounts and total overall balance

In [4]:
balance = mn.get_total_balance()
sf.displayDataFrame(balance, True, False)

  Exchange      Trading    Earn
0      OKX 88,841.45626     NaN
1      OKX      0.12211     NaN
2      OKX          NaN 0.00000

Total 88,841.58

  Exchange     Trading    Earn
0  OKX-sub 4,971.48571     NaN
1  OKX-sub     0.00000     NaN
2  OKX-sub         NaN 0.00000

Total 4,971.49

  Exchange       USDT-M         SPOT    Margin        Earn      Coin-M
0  Binance 19,896.17952          NaN       NaN         NaN         NaN
1  Binance          NaN 44,785.91197       NaN         NaN         NaN
2  Binance          NaN          NaN 265.41127         NaN         NaN
3  Binance          NaN          NaN       NaN 1,748.88555         NaN
4  Binance          NaN          NaN       NaN         NaN 1,246.45842

Total 67,942.85

      Exchange      USDT-M        SPOT  Margin    Earn  Coin-M
0  Binance-sub 4,022.13763         NaN     NaN     NaN     NaN
1  Binance-sub         NaN 1,000.00000     NaN     NaN     NaN
2  Binance-sub         NaN         NaN 0.00000     NaN     NaN
3  Binance-sub         NaN         NaN     NaN 0.00000     NaN
4  Binance-sub         NaN         NaN     NaN     NaN 0.00000

Total 5,022.14

  Exchange  USD-Margin      SPOT
0   Kraken 1,000.00551       NaN
1   Kraken         NaN 385.64031

Total 1,385.65

  Exchange       Coin-M      USDT-M      SPOT
0    Huobi 21,679.62823         NaN       NaN
1    Huobi          NaN 7,354.92454       NaN
2    Huobi          NaN         NaN 177.54736

Total 29,212.10

    Exchange  Coin-M      USDT-M    SPOT
0  Huobi-sub 0.00000         NaN     NaN
1  Huobi-sub     NaN 2,000.00000     NaN
2  Huobi-sub     NaN         NaN 1.33179

Total 2,001.33

  Exchange         SPOT
0   Bitmex 23,059.50739

Total 23,059.51

  Exchange   USDT-M    SPOT
0     Gate 10.00004     NaN
1     Gate      NaN 1.37283

Total 11.37

  Exchange         SPOT
0  Bittrex 53,584.87374

Total 53,584.87

  Exchange         SPOT       Future
0    Bybit 32,318.97531          NaN
1    Bybit          NaN 21,312.23879

Total 53,631.21

    Exchange    SPOT      Future
0  Bybit-sub 0.00003         NaN
1  Bybit-sub     NaN 1,000.00002

Total 1,000.00

   Total balance no sub  Total sub balance  Overall Total balance
0         317,669.14000       12,994.96000          330,664.09000

# Positions
The below function will return a list of positions across exchanges including liq risk %

In [5]:
positions = mn.get_all_positions()
sf.displayDataFrame(positions, True, False)

,Coin,Contract,QTY,USD Value,Exchange,Account,Leverage,Mark Price,Liq Price,Liq Risk %
0,APE,APEUSD_PERP,-523.32587,"-3,040.00000",Binance,COIN-M,8,5.81000,Null,Null
1,BTC,BTCUSDT_230331,-1.00000,"-23,054.41000",Binance,USDT-M,5,"23,054.41000",Null,Null
2,BTC,BTC-USD,-0.01312,-300.00000,Huobi,Coin-M,20,"22,863.10000","107,108.19000",3.68476
3,CREAM,CREAMUSDT,"-3,289.92000","-41,913.58000",Bybit,USDT-M,7.15000,12.74000,18.31000,0.43728
4,DOME,DOME-USDT-SWAP,"-10,260,500.00000","-30,473.69000",OKX,USDT-M,5,0.00000,0.01000,0.96156
5,ETH,ETHUSDT,-0.90000,"-1,487.30000",Binance-sub,USDT-M,20,"1,652.56000",Null,Null
6,ETH,ETH-USDT-SWAP,0.50000,826.48000,OKX-sub,USDT-M,3,"1,652.96000",Null,Null
7,FITFI,FITFI-USDT-SWAP,"-1,499,290.00000","-41,680.26000",OKX,USDT-M,5,0.03000,0.05000,0.75581
8,GLMR,GLMRUSDT,-18.00000,-9.31000,Bybit,USDT-M,10,0.52000,100.00000,192.42340
9,LINK,LINK-USD,"2,831.35928","20,080.00000",Huobi,Coin-M,5,7.09000,3.48000,0.50891
10,LINK,LINK-USDT,"-1,820.90000","-12,918.01000",Huobi,USDT-M,3,7.09000,10.86000,0.53041
11,LINK,LINK-USDT-SWAP,"-4,200.00000","-29,765.40000",OKX,USDT-M,3,7.09000,15.00000,1.11596
12,LUNC,1000LUNCUSDT,"-30,000,000.00000","-5,435.49000",Binance,USDT-M,5,0.18000,Null,Null
13,LUNC,LUNC-USDT,"30,000,000.00000","5,438.70000",Huobi,USDT-M,3,0.00000,Null,Null

# Leverage
The below function will return the leverage across all exchanges

In [6]:
leverage = mn.Leverage()
sf.displayDataFrame(leverage, True, False)

,Exchange,Account,Wallet USD Value,Position Absolute,Position USD Value,Leverage
0,OKX,Trading,"41,022.68000","101,923.54700","-101,923.54700",2.48000
1,Binance,USDT-M,"19,889.23638","28,492.01492","-28,492.01492",1.43000
2,Binance,Coin-M,"1,244.82471","3,040.00000","-3,040.00000",2.44000
3,Huobi,USDT-M,"7,357.36634","18,354.77206","-7,477.97206",2.49000
4,Huobi,Coin-M,"21,660.52214","20,380.00000","19,780.00000",0.94000
5,Bybit,futures,"21,315.51521","41,922.90300","-41,922.90300",1.97000
6,Gate,Future,10.00004,0.00000,0.00000,0.00000
7,Bitmex,USDT,"23,062.48260",0.00000,0.00000,0.00000